<%= simple_form_for @item , html: {multipart: true}  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :label %>
    <%= f.input :qrcode %>
    <%#= f.input :properties, as: :text %>
    <%= f.input :enabled %>
    <%= f.input :is_root %>
    <%= f.input :is_template %>
    <%= f.input :company_id %>

        <p>
          <label>Documents</label>
        </p>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
