<p>
  <strong>Id:</strong>
  <%= @item.id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @item.label %>
</p>

<p>
  <strong>Qrcode:</strong>
  <%= @qr = RQRCode::QRCode.new( item.id, :size => 4, :level => :h ) %>
</p>

<p>
  <strong>Properties:</strong>
  <br/>
  <% @item.extra_properties.keys.each do |p|%>
      <%= p %> : <%= @item.extra_properties[p] %>
  <% end %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @item.enabled %>
</p>

<label>Documents</label>
<table>
  <% @item.attachments.each do |doc| %>
  <tr>
    <td>
      <%= doc.document.file.filename %>
    </td>
    <td>
      <%= image_tag(doc.document.url) %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
