<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @item.id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @item.label %>
</p>

<p>
  <strong>Qrcode:</strong>
  <%= @item.qrcode %>
</p>

<p>
  <strong>Properties:</strong>
  <%= @item.properties %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @item.enabled %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
